body {
    background: #add8e6;
}

header {
    font-size: 40px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: -3px;
    /*
    margin-right: 10px;
    margin-left: 10px;
    */
    border: solid 2px #4432a8;
    padding: 10px;
}

.welcome {
    font-size: 32px;
}

.list-of-rooms {
    font-size: 32px;
}

.rooms-list ul {
    list-style: none;
}